    * {
        margin: 0;
        padding: 0;
    }
    
    .logo {
        width: 120px;
        height: 100px;
    }
    
    header {
        display: flex;
        background-color: white;
        color: black;
        justify-content: space-between;
    }
    
    .list {
        display: flex;
        justify-content: space-evenly;
        width: 60vw;
        margin-top: 35px;
    }
    
    li {
        list-style: none;
    }
    
    .list li a {
        text-decoration: none !important;
        color: black !important;
        font-size: 18px !important;
        padding-bottom: 40px !important;
    }
    
    .list a:hover {
        color: green !important;
    }
    
    .donate {
        width: 90px;
        height: 45px;
        margin-right: 30px;
        margin-top: 30px;
        background-color: rgb(18, 160, 160);
        color: white;
        border-radius: 5px;
        display: block !important;
    }
    
    .drop {
        font-size: 15px;
        margin-top: -10px;
        font-weight: bolder;
    }
    
    .hamburger {
        display: none;
        width: 40px;
        cursor: pointer;
        margin: 10px 20px;
        background-color: black;
        height: 40px;
        margin-top: 25px;
    }
    
    .hamburger span {
        display: none;
        width: 100%;
        height: 3px;
        background-color: white;
        margin-top: 3px;
        transition: 0.3s ease;
    }
    
    #About-drop,
    #Programs-drop,
    #Gallery-drop {
        width: 200px;
        background-color: rgb(18, 160, 160);
        padding: 20px;
        color: white;
        border-radius: 7px;
        margin-left: 300px;
        margin-top: 0px;
        line-height: 27px;
        border: 2px solid white;
        z-index: 100;
        position: relative;
    }
    
    #About-drop {
        display: none;
        width: 270px;
    }
    
    #About-drop li a {
        color: white !important;
        text-decoration: none !important;
        width: 100%;
        height: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    
    #About-drop li:hover {
        background-color: teal;
    }
    
    #About-drop li {
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }
    
    #About-drop li a .drop {
        margin-left: 45%;
    }
    
    #Programs-drop {
        color: white;
        margin-left: 420px;
        display: none;
        width: 270px;
    }
    
    #Programs-drop li a {
        color: white !important;
        text-decoration: none !important;
        /* width: 100%; */
        height: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    
    #Programs-drop li {
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }
    
    #Programs-drop li:hover {
        background-color: teal;
    }
    
    #Gallery-drop {
        margin-left: 750px;
        display: none;
    }
    
    #Gallery-drop li a {
        color: white !important;
        text-decoration: none !important;
        width: 100%;
        height: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    
    #Gallery-drop li {
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }
    
    #Gallery-drop li:hover {
        background-color: teal;
    }
    
    .mobile-list {
        display: none
    }
    
    .mobile {
        display: none;
    }
    
    .donate {
        display: block;
    }
    
    @media (max-width:480px) {
        .header {
            display: flex;
            flex-direction: row;
        }
        .logo {
            display: block;
        }
        .list {
            display: none;
        }
        .mobile {
            display: none;
        }
        .list {
            display: none;
        }
        .donate {
            display: none !important;
        }
        .hamburger {
            display: block;
        }
        .hamburger span {
            display: block;
            color: white;
        }
        .mobile {
            display: none;
            z-index: 120;
            background-color: black;
            color: white;
            width: 100vh;
            width: 100vw;
            padding-bottom: 30px;
        }
        .mobile-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        .donate {
            display: none;
        }
        .mobile-donate {
            display: block;
            width: 90px;
            height: 45px;
            margin-right: 30px;
            margin-top: 30px;
            background-color: rgb(18, 160, 160);
            color: white;
            border-radius: 5px;
        }
        .logodonate {
            display: flex;
            justify-content: space-between;
        }
        .mobile-logo {
            width: 120px;
            height: 120px;
        }
        .mobile-list li {
            list-style: none;
            border-top: 2px solid green;
            border-bottom: 2px solid green;
            width: 100%;
            margin-top: 5px;
        }
        .mobile-list li a {
            text-decoration: none !important;
            color: white !important;
            font-size: 18px !important;
            padding-bottom: 40px !important;
        }
        .mobile-list a:hover {
            color: green !important;
        }
        #About-mobile li,
        #Programs-mobile li,
        #Gallery-mobile li {
            border: none;
        }
        #About-mobile,
        #Programs-mobile,
        #Gallery-mobile {
            display: none;
        }
    }
    /* Hide menu list and show hamburger on mobile */