.hero {
    z-index: 1;
    position: absolute;
}

.d-block {
    display: block;
    animation: all 6s infinite;
}

@keyframes all {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.04);
    }
    50% {
        transform: scale(1.06);
    }
    75% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1.12);
    }
}